<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wugang.mapper.CategoryMapper">
    <resultMap id="categoryMap" type="com.wugang.response.CategoryQueryResponse">
        <id column="id" property="id"/>
        <result column="parent" property="parent"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <collection property="children" ofType="com.wugang.pojo.Category">
            <id column="c_id" property="id"/>
            <result column="c_parent" property="parent"/>
            <result column="c_name" property="name"/>
            <result column="c_sort" property="sort"/>
        </collection>
    </resultMap>

    <!-- 查询category列表 -->
    <select id="queryList" parameterType="Category" resultType="Category">
        select *
        from category
        where 1=1
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="parent != null and parent != ''">
            and parent = #{parent}
        </if>
        <if test="name != null and name != ''">
            <bind name="pName" value="'%' + name + '%'"/>
            and `name` like #{pName}
        </if>
        <if test="sort != null and sort != ''">
            and sort = #{sort}
        </if>
        order by sort asc
    </select>

    <!-- 查询所有的分类信息 -->
    <select id="queryAllList" resultMap="categoryMap">
        select
            a.id, a.parent, a.name, a.sort,
            b.id as c_id, b.parent as c_parent, b.name as c_name, b.sort as c_sort
        from category a
        left join category b
        on b.parent = a.id
        where a.parent = '000'
        order by sort asc
    </select>

    <!-- 更新category -->
    <update id="updateCategory" parameterType="Category">
        update category
        <set>
            <if test="parent != null and parent != ''">
                parent = #{parent},
            </if>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="sort != null and sort != ''">
                sort = #{sort},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 新增Category -->
    <insert id="insertCategory" parameterType="Category">
        insert into category (id, parent, `name`, sort)
        values (#{id}, #{parent}, #{name}, #{sort})
    </insert>

    <!-- 根据ID删除Category -->
    <delete id="deleteCategoryById" parameterType="String">
        delete
        from category
        where id = #{id}
    </delete>

</mapper>