<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wugang.mapper.UserMapper">
    <!-- 查询电子书列表 -->
    <select id="queryList" parameterType="User" resultType="User">
        select id, login_name, `name`, password from user
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="loginName != null and loginName != ''">
                and login_name = #{loginName}
            </if>
        </where>
    </select>

    <!-- 更新电子书 -->
    <update id="updateUser" parameterType="User">
        update user
        <set>
            <if test="loginName != null and loginName != ''">
                login_name = #{loginName},
            </if>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 新增User -->
    <insert id="insertUser" parameterType="User">
        insert into user (id, login_name, `name`, password)
        values (#{id}, #{loginName}, #{name}, #{password})
    </insert>

    <!-- 根据ID删除User -->
    <delete id="deleteUserById" parameterType="String">
        delete from user where id = #{id}
    </delete>
</mapper>